parameters:
	level: 6

	paths:
		- app
		- config
		- bootstrap
		- database
		- tests

	ignoreErrors:
	    -
	        message: '#Undefined variable: \$this*#'

	    -
	        message: '#Access to an undefined property Pest\\Expectation<mixed>::*#'
	        path: tests

	    -
	        message: '#Call to an undefined method Illuminate\\Testing\\TestResponse::*#'
	        path: tests
